<?ml version="1.0"?>
<robot xmlns:xacro = "http://ww.ros.org/wiki/xacro" name="robot">
	
    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.17 0 0.15"/>
    </joint>

    <link name="lidar_link">
        <visual>
            <origin xyz="0 0 0" rpy ="0 0 0"/>
            <geometry>
                <cylinder radius ="0.03" length ="0.01" />
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy ="0 0 0"/>
            <geometry>
                <cylinder radius ="0.03" length ="0.01" />
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.055" length="0.01" radius="0.03">
            <origin xyz="0 0 0" rpy ="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>
    
    <!-- <gazebo reference = "lidar_joint">
    <material>Gazebo/Red</material>

            <sensor type="ray" name="laser">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <ray>
                    <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                    </scan>
                    <range>
                        <min>0.30</min>
                        <max>12.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                    <type>gaussian</type>
                    
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                    </noise>
                </ray>

                <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                    <ros>
                        <argument>
                        ~/out:=scan
                        </argument>
                    </ros>
                    <output_type>sensor_msgs/Laserscan</output_type>
                     <frame_name>laser_frame</frame_name>
                </plugin>
                

            </sensor>
        
    </gazebo>  
     -->

     <!-- <gazebo>
  <plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
    <alwaysOn>true</alwaysOn>
    <updateRate>30.0</updateRate>
    <cameraName>camera</cameraName>
    <imageTopicName>image_raw</imageTopicName>
    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
    <hackBaseline>0.07</hackBaseline>
    <distortionK1>0.0</distortionK1>
    <distortionK2>0.0</distortionK2>
    <distortionK3>0.0</distortionK3>
    <distortionT1>0.0</distortionT1>
    <distortionT2>0.0</distortionT2>
  </plugin>
  <sensor name="camera" type="camera">
    <camera name="camera">
      <horizontal_fov>1.047</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.1</near>
        <far>1000</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.01</stddev>
      </noise>
      <distortion>k1 k2 p1 p2 k3 0 0 0 0 0</distortion>
      <pose frame=''>0 0 1.5 0 -1.57 3.14</pose>
    </camera>
    <always_on>true</always_on>
    <update_rate>30.0</update_rate>
    <visualize>true</visualize>
  </sensor>

</gazebo> -->


<gazebo reference="lidar_joint">
  <sensor type="gpu_ray" name="head_hokuyo_sensor">
    <pose>0 0 0.09 1.5708 0 -1.5708</pose>
    <visualize>true</visualize>
    <update_rate>30</update_rate>
    <ray>
     <noise>
      <type>gaussian</type>
      <mean>0.0</mean>
      <stddev>0.1</stddev>
     </noise>
      <scan>
        <horizontal>
          <samples>32</samples>
          <resolution>1</resolution>
          <min_angle>-0.53529248</min_angle>
          <max_angle>0.18622663

</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.05</min>
        <max>70</max>
        <resolution>0.02</resolution>
      </range>
    </ray>
    <plugin name="hokuyo_node" filename="libgazebo_ros_ray_sensor.so">
     <!-- or libgazebo_ros_gpu_laser -->
      <topicName>/myrobot1/laser/scan</topicName>
      <frameName>base</frameName>
    </plugin>
  </sensor>

</gazebo>


</robot>
